body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 background-color: black;
}

.spinner {
 width: 300px; /* Задайте нужный размер */
 height: 300px; /* Задайте нужный размер */
 display: flex;
 justify-content: center;
 align-items: center;
}

.spinner img {
 width: 100%; /* Подгоняем изображение под контейнер */
 height: auto; /* Сохраняем пропорции изображения */
 animation: spin 1s linear infinite; /* Добавляем анимацию вращения */
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}